name: Linter

on:
  - push
  - pull_request

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Ruff check
        uses: astral-sh/ruff-action@v3
        with:
          version: 0.14.10

      - name: Ruff format
        uses: astral-sh/ruff-action@v3
        with:
          version: 0.14.10
          args: 'format --check'
