name: Tests

on:
  - push
  - pull_request

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Python 3.10 / Django 4.2
            python-version: "3.10"
            django-version: ">=4.2,<4.3"

          - name: Python 3.11 / Django 4.2
            python-version: "3.11"
            django-version: ">=4.2,<4.3"

          - name: Python 3.12 / Django 4.2
            python-version: "3.12"
            django-version: ">=4.2,<4.3"

          - name: Python 3.10 / Django 5.1
            python-version: "3.10"
            django-version: ">=5.1,<5.2"

          - name: Python 3.11 / Django 5.1
            python-version: "3.11"
            django-version: ">=5.1,<5.2"

          - name: Python 3.12 / Django 5.1
            python-version: "3.12"
            django-version: ">=5.1,<5.2"

          - name: Python 3.13 / Django 5.1
            python-version: "3.13"
            django-version: ">=5.1,<5.2"
          
          - name: Python 3.10 / Django 5.2
            python-version: "3.10"
            django-version: ">=5.2,<5.3"

          - name: Python 3.11 / Django 5.2
            python-version: "3.11"
            django-version: ">=5.2,<5.3"

          - name: Python 3.12 / Django 5.2
            python-version: "3.12"
            django-version: ">=5.2,<5.3"

          - name: Python 3.13 / Django 5.2
            python-version: "3.13"
            django-version: ">=5.2,<5.3"
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.13"

      - name: Install the project dependencies
        run: uv sync --frozen

      - name: Run tests
        run: uv run pytest --cov --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
